<h2><%= redis.hget("anime:" + env.params.url["id"], "title") %></h2>
<%- if redis.hget("anime:" + env.params.url["id"], "releaseyear") != nil -%><h5><%= redis.hget("anime:" + env.params.url["id"], "releaseyear") %></h5><%- end -%>
<%- if redis.hget("anime:" + env.params.url["id"], "description") != nil -%><p style="max-width:75%"><%= redis.hget("anime:" + env.params.url["id"], "description") %></p><%- end -%>
<%- if redis.hget("anime:" + env.params.url["id"], "subsplease") != nil -%><h4><a href="<%= redis.hget("anime:" + env.params.url["id"], "subsplease") %>">View on SubsPlease</a></h4><%- end -%>
<br>
<p><a href="/edit/anime/<%= env.params.url["id"] %>">Edit</a></p>