<form action="/auth/endpoint" method="post">
    <p>Username</p>
    <input type="text" name="username" placeholder="shino.aki" style="width:50%"></input>
    <br><br>

    <p>Password</p>
    <input type="password" name="password" placeholder="123456" style="width:50%"></input>
    <br><br>

    <button type="submit">Authenticate</button>
</form>