<html>
    <head>
        <link href="/assets/css/bootstrap.css" rel="stylesheet">
        <style>
            @font-face { font-family: Sacramento; src: url('/assets/fonts/sacramento.ttf'); }
            @font-face { font-family: Trueno; src: url('/assets/fonts/trueno.otf'); }
            body {
                font-family: Trueno;
            }
        </style>
    </head>

<body>
    <center>
        <h1 style="font-size:100px;font-family:Sacramento;margin-top:1rem"><img style="margin-top:-3rem" src="/assets/images/logo/512.png" height="100px" width="100px" />onodera</h1>
        <p style="margin-top:-15px"> <a href="/">Home</a> - <a href="/auth">Auth</a> </p>
        <br><br>

            <%= content %>

        <br><br><br>

        <p><b>Onodera</b> v<%= ONODERA_VERSION_NUMBER %> <%= ONODERA_VERSION_NAME %><br>Made with <3 and Crystal - AGPLv3 - <a href="https://github.com/onoderaproject">Github</a></p>
        <%- if env.session.string?("token") -%><p>Logged in as <b><%= redis.hget("usertokens", env.session.string("token")) %></b></p><%- end -%>
    </center>
</body>

</html>