<h2><%= redis.hget("anime:" + env.params.url["id"], "title") %></h2>
<%- if redis.hget("anime:" + env.params.url["id"], "description") != nil -%><p style="max-width:75%"><%= redis.hget("anime:" + env.params.url["id"], "description") %></p><%- end -%>
<br>
<p><a href="/edit/anime/<%= env.params.url["id"] %>">Edit</a></p>