<form action="/edit/anime/<%= id %>/submit" method="get">
    <p>Title</p>
    <input type="text" name="title" placeholder="Title goes here" value="<%= title %>" style="width:50%"></input>
    <br><br>

    <p>Description</p>
    <textarea name="description" placeholder="Give a nice description here" style="width:75%;height:20%"><%= description %></textarea>
    <br><br>

    <button type="submit">Submit</button>
</form>