<html>
    <head>
        <link href="/assets/css/bootstrap.css" rel="stylesheet">
        <style>
            @font-face { font-family: Sacramento; src: url('/assets/fonts/sacramento.ttf'); }
            @font-face { font-family: Trueno; src: url('/assets/fonts/trueno.otf'); }
            body {
                font-family: Trueno;
            }
        </style>
    </head>

<body>
    <center>
        <h1 style="font-size:100px;font-family:Sacramento;margin-top:1rem">onodera</h1>
        <p style="margin-top:-15px">Anime and manga database</p>
        <br><br>

        <form action="search" method="get">
            <input type="text" placeholder="Search for anime..."></input>
            <button type="submit">Search</button>
        </form>
        <br><br>

        <h2><u>Features</u></h2>
        <br>

        <h3>Free, open source</h3>
        <p>All source code is freely available under the AGPLv3 license.</p>
        <br>

        <h3>Built modern</h3>
        <p>Written in Crystal with the Kemal web framework</p>
        <br>

        <h3>MAL scraper coming soon</h3>
        <p>Easily scrape MAL into the Onodera database</p>
        <br><br>


        <h2><u>FAQ</u></h2>
        <br>

        <h3>How can I support the project?</h3>
        <p>Any support is appreciated. Contribute code to <a href="https://github.com/onoderaproject/onodera">the Github repo</a>. Send art to <a href="mailto:lincoln@chuuo.net">lincoln@chuuo.net</a>. Monetary donations are not being accepted at this time.</p>
        <br>

        <h3>Torrents?</h3>
        <p>For legal reasons, no</p>
        <br>

        <h3>Can I scrape your site?</h3>
        <p>You don't need to! Our entire database is available here. (Although we'd love it if you keep using our service :)</a>

        <br><br><br>

        <p><b>Onodera</b> v<%= ONODERA_VERSION_NUMBER %> <%= ONODERA_VERSION_NAME %><br>lncndev 2021 - AGPLv3 - <a href="https://github.com/onoderaproject">Github</a></p>
        <p>Logged in as <b><%= redis.hget("usertokens", env.session.string("token")) %></b></p>
    </center>
</body>

</html>