<form action="search" method="get">
    <input type="text" placeholder="Search for anime..." name="q"></input>
    <button type="submit">Search</button>
</form>

<br><br>

<h3>Modern.</h3>
<h3>Fast.</h3>
<h3>Private.</h3>
<h3>Open.</h3>
<br>

<p>Please consider contributing code, art, or anything we can use to help this project grow and thrive.</p>